<body>
{
	font-family: Arial, San-Serif;
	font-size: 100%;
    background-color:#BBCDE5; 
    }
  ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none
}
header {
	padding: 50px 0;
	background-color:#222222;
}
h1,h2 {
	color: grey;
	text-align: center;
}
nav {
	background-color:#FFFFFF;
	border-color: #639FAB;
	min-height: 64px;}
{
nav li 
	float: left;
	width: 100px;}

{
nav a 
	display: block;
	color: #34DF67 ;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
{
nav li a:hover 
	color: #FFD972 ;
	background-color:#EF654;
}
p{
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 0.1em;
    margin-bottom: 0;
    color:#2E084F;
}
</body>
